@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");
body {
  background: black;
  color: white;
}

body.fade {
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

body.color-no-search {
  background: #171d1c;
}

body.color-no-results {
  background: #942911;
}

body.color-results-found {
  background: #71816D;
}

body.color-too-many-results {
  background: #8CB369;
}

body .container a {
  color: #F4E285;
}

body .container .search .header a {
  color: #F4F7F5;
}

body .container .search .results .results-table table.results tbody tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.2);
}

body .container .footer {
  background-color: rgba(255, 255, 255, 0.05);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  overflow-x: hidden;
}

.version {
  cursor: pointer;
}

.selected {
  color: #FF8C42;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

body .container a {
  text-decoration: none;
}

body .container .search .header {
  padding-bottom: 1rem;
}

body .container .search .header h1 {
  font-size: 4rem;
  margin: 0.5rem;
}

body .container .search .query input {
  width: 100%;
  height: 5rem;
  font-size: 2rem;
  font-family: serif;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Source Code Pro', monospace;
  outline: none;
}

body .container .search .results .results-table.hide {
  display: none;
}

body .container .search .results .results-table table.results {
  table-layout: fixed;
  border: 0;
  width: 100%;
  margin: 0;
}

@media screen and (min-width: 800px) {
  body .container .search .results .results-table table.results {
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
  }
}

body .container .search .results .results-table table.results thead {
  font-size: 1.2rem;
}

@media screen and (min-width: 800px) {
  body .container .search .results .results-table table.results thead {
    font-size: 2.5rem;
  }
}

body .container .search .results .results-table table.results tbody td {
  padding: 0.5rem 5px;
  word-break: break-word;
}

body .container .search .results .results-table table.results tbody tr {
  font-size: 0.9rem;
  max-width: 10vw;
}

@media screen and (min-width: 800px) {
  body .container .search .results .results-table table.results tbody tr {
    font-size: 1.25rem;
  }
}

body .container .subfooter h3 {
  padding: 0 4rem;
}

body .container .footer {
  display: block;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 1rem;
  font-size: 0.8rem;
}
